.sos-main-pg {
  width: 100vw;
  height: 100vh;
  background-color: #eff2fa;
  padding: 1em;
  overflow-y: scroll;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .profile {
      display: flex;
      align-items: center;
      gap: 0.25em;
    }
    .loc {
      display: flex;
      align-items: center;
      gap: 0.5em;
      p {
        color: #969696;
      }
    }
  }
  .sos-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    /* background-color: aqua; */
    .sos-div-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      .dis {
        font-size: 0.9em;
        color: #969696;
      }
    }
    .sos-manual-part {
      p {
        color: #969696;
      }
    }
  }
  .manual-div {
    padding: 0em;
    display: flex;
    align-items: center;
    flex-direction: column;
    .manual-div-input {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* border: 1px solid black; */
      padding: 0.5em;
      border-radius: 10px;
      background-color: white;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        color: #969696;
      }
    }
    .sugestion {
      table {
        padding: 0.5em;
        tr {
          display: flex;
          padding: 0.25em;
          td {
            margin: 0.25em;
            padding: 0.75em;
            /* border: 1px solid black; */
            border-radius: 10px;
            background-color: white;
          }
        }
      }
    }
  }
}

/* =======================sos-activation=========== */
.sos-activation-main {
  width: 100vw;
  height: 100vh;
  background-color: #eff2fa;
  padding: 1em;
  overflow-y: scroll;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .profile {
      display: flex;
      align-items: center;
      gap: 0.25em;
    }
    .loc {
      display: flex;
      align-items: center;
      gap: 0.5em;
      p {
        color: #969696;
      }
    }
  }
  .sos-act-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    
    .cancel-content{
        color: #969696;
    }
    .sos-activation-box {
      background-color: white;
      padding: 2em 1em;
      border-radius: 10px;
      margin-top: 1em;
      .sos-activation-box-title {
        display: flex;
        gap: 1em;

        .cancel {
          width: 30px;
          height: 30px;
          background-color: red;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: white;
        }
      }
      .timing {
        display: flex;
        flex-direction: column;
        padding: 1em;
        .time {
          display: flex;
          gap: 1.5em;
          p{
            color: #4D4D4D;
          }
        }
        .ratio-box {
            width: 100%;
            height: 10px;
            background-color: #eee;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 10px;
            position: relative;
          }
          
          .ratio-fill {
            height: 100%;
            background-color: red;
            width: 100%; /* Controlled by inline style or class (JS) */
            transition: width 1s linear;
          }
          
      }
      .btns{
        display: flex;
        justify-content: space-between;
        padding-top: 0.5em;
        .send{
            width: 48%;
            display: flex;
            background-color: red;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            padding: 0.5em;
            border-radius: 10px;
            color: white;
            img{
                width: 20px;
            }
        }
        .cancel-btn{
            width: 48%;
            display: flex;
            background-color: rgb(150, 150, 150,14%);
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            padding: 0.5em;
            border-radius: 10px;
            color: black;
            .x{
                font-size: 1em;
            }
        }
      }
    }
  }
}

/* ======================sos-activated================= */
.sos-activated-main{
    width: 100vw;
    height: 100vh;
    background-color: #eff2fa;
    padding: 1em;
    overflow-y: scroll;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .profile {
        display: flex;
        align-items: center;
        gap: 0.25em;
      }
      .loc {
        display: flex;
        align-items: center;
        gap: 0.5em;
        p {
          color: #969696;
        }
      }
    }
    .sos-pg{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
        .sos-act{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FF364B;
            padding: 1em;
            border-radius: 30px;
            margin-top: 1em;
            color: white;
            gap: 1em;
        }
        .location{
            width:100%;
            background-color: white;
            border-radius: 20px;
            padding: 1em;
            margin-top: 1em;
            .loc-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .loc-header-left{
                    display: flex;
                }
                .live{
                    display: flex;
                    align-items: center;
                    background-color: #FFD2D6;
                    padding: 0.25em 0.5em;
                    gap: 0.5em;
                    border-radius: 10px;
                    .red-dot{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: red;
                    }
                }
            }
            .loc-img{
                padding: 0.5em;
                img{
                    width: 100%;
                }
            }
        }
        .health-data{
            width:100%;
            background-color: white;
            border-radius: 20px;
            padding: 1em;
            margin-top: 1em;
            header{
                .content{
                    p{
                        font-size: 1em;
                        color: #969696;
                    }
                }
            }
            .container{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;
                gap: 1em;
                padding-top: 1em;
                .heart-rate,.bp,.o2,.bodytemp{
                    padding: 2.1em;
                    background-color: #F4F6F8;
                    border-radius: 20px;
                }
            }
        }
    }
}
